xfce4/
xarchiver/
vis/
viewnior/
Slack/
QtProject.conf
Postman/
pcmanfm/
Mousepad/
morc_menu/
mimeapps.list
manjaro/
libreoffice/
Kvantum/
hexchat/
GIMP/
falkon/
epdfview/
dmenu-recent/
dconf/
configstore/
clipit/
calibre/
autostart/
Android Open Source Project/
.xinitrc
gconf/
.rsync-files-from.txt
pulse/
user-dirs.dirs
user-dirs.locale
vlc/
qt5ct/
pavucontrol.ini
libfm/
gtk-2.0/
gtk-3.0/
neofetch/
ranger/
htop/
